<ion-view title="Contactos" id="page7" style="background-color:#22384B;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="">
            <img src="img/fut9nEfBT1qMU3OTJWNS_radiologo.png" width="70%" height="60" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <h5 id="contactos-heading1" style="color:#E0DADA;font-weight:300;font-style:italic;text-align:justify;" class=" ">Envianos tus sugerencias y comentarios</h5>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <form id="contactos-form1" class="list ">
            <h5 id="contactos-heading2" style="color:#E0DADA;font-weight:300;font-style:italic;text-align:justify;" class=" ">Tu Nombre</h5>
            <label class="item item-input " id="contactos-input1">
                <input type="text" placeholder="Nombre">
            </label>
        </form>
        <h5 id="contactos-heading3" style="color:#E0DADA;font-weight:300;font-style:italic;text-align:justify;" class=" ">Tu Email</h5>
        <form id="contactos-form2" class="list ">
            <label class="item item-input " id="contactos-input2">
                <input type="email" placeholder="email">
            </label>
            <h5 id="contactos-heading4" style="color:#E0DADA;font-weight:300;font-style:italic;text-align:justify;" class=" ">Tu Mensaje</h5>
            <label class="item item-input " id="contactos-textarea1">
                <span class="input-label"></span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="contactos-button4" style="border-radius:-1px -1px -1px -1px;" class=" button button-positive  button-block ">Enviar</button>
    </ion-content>
</ion-view>