<ion-view title="Quienes Somos" id="page6" style="background-color:#22384B;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 76px;"></div>
        <p id="quienesSomos-markdown4" style="color:#F5E6E6;text-align:justify;" class=" ">Radio Universitaria 98.5 es un medio de comunicación público de la Universidad Nacional de Loja, para comunicarse con la comunidad a través de la coordinación, cooperación, consulta, intercambio y promoción del arte, la ciencia, la cultura y el
            desarrollo de Loja y la Región Sur.</p>
        <p id="quienesSomos-markdown5" style="color:#F5E6E6;text-align:justify;" class=" ">En nuestros estudios se realizan producciones radiofónicas como son: mensajes, cuñas, grabaciones de CDS, promocionales, documentales, reportaje, jingles, y otros productos comunicacionales con tecnología de punta.</p>
    </ion-content>
</ion-view>