<ion-view title="Radio Universitaria " id="page1" style="background-color:#22384B;" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        <div class="">
            <img src="img/9OD8TbTRg6KZDXdQqs9x_radiologo.png" width="240" height="260" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <div id="radioUniversitaria-button-bar1" class=" button-bar "></div>
        <div class="">
            <img src="img/lr1g1UsTkORUPIExqDzR_reproductor_html5.jpg" width="" height="25" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>